<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conStr" connectionString="Data Source=DEll-PC;Initial Catalog=systemlibrary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="librarysystem.Properties.Settings.systemlibraryConnectionString"
            connectionString="Data Source=Dell-PC;Initial Catalog=systemlibrary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
